.tabs {
  font-size: 0;
  margin: 5px 0;
}

.tabs:after {
  clear: both;
  content: '';
  display: table;
}

.tabs .tab {
  display: inline;
}

.tabs .tab1 {
  display: inline; margin-left: 10px;
}

.tabs .tab-label {
  background: #D1D3D4; 
  border: 1px solid #9FA3A5;
  color: #041B44;
  display: inline-block;
  font-size: 1rem;
  left: 0px;
  margin-left: 0px;
  width: 225px;
  text-align: center;
  padding: 10px; 
  position: relative;
}

.tabs .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tabs .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: #BEC0C1;
  padding: 15px 20px;
  border: 1px solid #818486;
  float: left;
  font-size: 1rem;
  margin-top: 8px;
  width: 100%;
}

.tabs .tab [type="radio"]:checked + .tab-label {
  background: #041B44;
  border: 1px solid #041B44;
  color: #ffffff;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}


/*

=======================================
INTERNET EXPLORER 8 and below 
=======================================

*/
@media \0screen\,screen\9 {
  /* IE7 and IE6 */
  .tabs {
    zoom: 1;
  }
  
  /* IE8 and below */
  .tabs .tab .tab-radio {
    filter: Alpha(opacity=0);
    position: absolute;
    z-index: -1;
  }
  
  /* IE7 and IE6 */
  .tabs .tab .tab-panel, {
    display: none;
    height: auto;
    overflow: visible;
    position: static;
    width: auto;
  }
  
  /* IE7 and IE6 */
  .tabs .tab-content, {
    float: none;
    padding-bottom: 1px;
    padding-top: 1px;
    width: auto;
  }
  
  /* IE8 and below */
  .tabs .checked label {
    background: white;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
  }
  
  /* IE8 */
  .tabs .checked .tab-panel {
    display: inline;
  }
  /* IE7 and IE6 */
  .tabs .checked .tab-panel, {
    display: inline;
    float: left;
    width: 100%;
  }
}

/*

=======================================
UNIMPORTANT STYLES BEGIN HERE
=======================================

*/

a:link,a:visited,a:hover,a:focus,a:active {
  color: #58C;
}

label {
  cursor: pointer;
}

.tabs {
  color: #222;
}

.tabs a:link,.tabs a:visited,.tabs a:hover,.tabs a:focus,.tabs a:active {
  color: #36A;
}

body > h3 {
  font-variant: small-caps;
  letter-spacing: .0625em;
}

p {
  line-height: 1.5;
  max-width: 50em;
}

code,pre {
  font-family: 'Lucida Console', monospace;
}

pre {
  background: #191919;
  color: #8DA;
  overflow-x: auto;
  padding: 1em;
}

p > code {
  background: #DED;
  margin: -2px;
  padding: 2px;
}

.for {
  display: inline-block;
  position: relative;  
}

.for:after {
  background: #DDD;
  bottom: 150%;
  color: #222;
  font-family: sans-serif;
  font-size: 12px;
  opacity: 0;
  padding: .5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  white-space: nowrap;
}

.for:hover:after {
  opacity: 1;
}

.for.default-tab {
  color: #8AD;
}

.for.ie8-and-below {
  color: #DA8;
}

.for.default-tab:after {
  content: 'For default tab';  
}

.for.ie8-and-below:after {
  content: 'For IE8 and below';  
}

/* and just for fun... */
@media only screen and (max-width: 50em) {
  .tabs .tab > label {
    background: #BBB;
    border-color: #999;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .tabs .tab > [type="radio"]:checked + label {
    background: #222;
    border-color: #444;
    color: #DDD;
  }
}