@import url("reset.css");

body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;  background-color: #E5E6E7; }

p { padding: 0px; }
img { border-width:0px; } 
#bold { font-weight: bold; }
#italic { font-style:italic; }

#wrapper { margin: 0 auto; width: 1002px; background-color: #E5E6E7; }
#header { float: left; height: 100px; width: 1002px; }
#navigation { float: left; height: 30px; width: 1000px; border: solid 1px #031A43; }
#space { float: left; height: 20px; width: 1002px; }
#slide { float: left; height: 350px; width: 1002px; }
#content { float: left; width: 1002; }
#footer { height: 45px; width: 1002px; clear: both; }

#logo { float:left; width: 450px; margin-left: 20px; margin-right: 0px; margin-top: 10px; padding:0px; }
#endereco { float:left; width: 250px; margin-left: 260px; margin-right: 0px; margin-top: 25px; padding:0px; }
#foto { float:left; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding:0px; }

#foto1 { float: left; width: 300px; margin-top: 0px; margin-left: 0px; }
#foto2 { float: left; width: 300px; margin-top: 0px; margin-left: 0px; }
#foto3 { float: left; width: 300px; margin-top: 0px; margin-left: 0px; }

#bloco1 { float: left; width: 300px; margin-top: 0px; margin-left: 10px; }
#bloco2 { float: left; width: 300px; margin-top: 0px; margin-left: 40px; }
#bloco3 { float: left; width: 300px; margin-top: 0px; margin-left: 40px; }

#bx-conteudo { float: left; width: 762px; margin-top: 0px; margin-left: 120px; margin-right: 120px; }

#blc-fale1 { float: left; width: 300px; margin-top: 10px; margin-left: 30px; margin-right: 0px; }
#blc-fale2 { float: left; width: 300px; margin-top: 10px; margin-left: 50px; margin-right: 0px; }

#texto-inicio { float: left; width: 290px; margin-top: 5px; margin-left: 8px; }
#mais { float: left; margin-top: 0px; margin-left: 240px; }

#beneficios { float: left; width: 620px; margin-top: 10px; margin-left: 10px; z-index: 01; position: absolute;  }
#telefone { float: left; margin-top: 348px; margin-left: 745px; z-index: 01; position: absolute;  }

#label { float: left; height: 20px; width: 15px; }

#rodape1 { float:left; width: 1002px; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding:0px; }
#rodape2 { float:left; width: 1002px; margin-left: 0px; margin-right: 0px; margin-top: 5px; padding:0px; }

#h1 { color: #031A43; font-weight:; font-size: 12px; font-family: Trebuchet ms, Lucida Sans, Arial, Verdana; line-height: 17px;letter-spacing: 0px;word-spacing: 0px; ; }
#h1-1 { color: #031A43; font-weight:bold; font-size: 14px; font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; line-height: 17px;letter-spacing: 0px;word-spacing: 0px; ; }
#h1-2 { color: #031A43; font-weight:bold; font-size: 24px; font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; line-height: 18px;letter-spacing: 0px;word-spacing: 0px; ; }
#h1-3 { color: #031A43; font-weight:; font-size: 14px; font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; line-height: 18px;letter-spacing: 0px;word-spacing: 0px; ; }
#h1-4 { color: #031A43; font-weight:bold; font-size: 18px; font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; line-height: 18px;letter-spacing: 0px;word-spacing: 0px; ; }

#h2 { font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; font-weight: 300; color: #000000; font-size:13px; line-height:18px;letter-spacing:0px;word-spacing:0px; }
#h2 a { font-size:13px; color: #000000; text-decoration: none; }
#h2 a:hover { font-size:13px; color: #031A43; }

#h3 { font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; font-weight: bold; color: #031A43; font-size:13px; line-height:18px;letter-spacing:0px;word-spacing:0px; }
#h3 a { font-size:13px; color: #031A43; text-decoration: none; }
#h3 a:hover { font-size:13px; color: #000000; }

#h4 { font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; font-weight: 300; color: #031A43; font-size:15px; line-height:20px;letter-spacing:0px;word-spacing:0px; }
#h4 a { font-size:15px; color: #031A43; text-decoration: none; }
#h4 a:hover { font-size:15px; color: #031A43; }

#h5 { font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; font-weight: 300; color: #031A43; font-size:15px; line-height: 22px; letter-spacing: 0px ;word-spacing: 0px; }
#h5 a { font-size:15px; color: #031A43; text-decoration: none; }
#h5 a:hover { font-size:15px; color: #031A43; }

#h6 { font-family: 'Times New Roman', Arial, Trebuchet ms, Verdana, sans-serif; font-weight: 300; color: #041B44; font-size:15px; line-height: 22px; letter-spacing: 0px ;word-spacing: 0px; }
#h6 a { font-size:15px; color: #fff; text-decoration: none; }
#h6 a:hover { font-size:15px; color: #fff; }

#h7 { font-family: Trebuchet ms, Lucida Sans, Arial, Verdana; color: #031A43; font-size:12px; line-height: 17px; letter-spacing: 0px ;word-spacing: 0px; }
#h7 a { font-size:12px; color: #031A43; text-decoration: none; }
#h7 a:hover { font-size:12px; color: #000000; }

/*---- MENU ----- */

#menu-bar {
  width: 675px;
  margin: 0px 0px 0px 180px;
  padding: 0px 0px 0px 0px;
  height: 30px;
  line-height: 100%;
  border-radius: 0px;
  background: #E5E6E7;
  border: solid 0px #E5E6E7;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: normal;
  font-family: "Times New Roman", Times, Verdada, Trebucht ms, serif;
  font-style: normal;
  font-size: 13px;
  color: #031A43;
  text-decoration: none;
  display: block;
  padding: 9px 55px 8px 55px;
  margin: 0;
  margin-bottom: 0px;
  border-radius: 0px;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #031A43;
  color: #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
}
#menu-bar ul a:hover {
  background: #031A43 !important;
  color: #FFFFFF !important;
}
#menu-bar ul {
  background: #DDDDDD;
  display: none;
  margin: 0;
  padding: 0;
  width: 195px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #031A43;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:14px;
  font-style:normal;
  font-family: "Times New Roman", Times, Verdada, Trebucht ms, serif;
  font-weight: normal;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 0px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 0px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

/*---- TAB ----- */

/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;	
	cursor: pointer;
	color: #FFF;
    margin: 0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
	color: #FFF;
    margin-right: 4px; /*distance between tabs*/
}
        
ul.tabs li a
{
    text-decoration: none;
    padding: 8px 78px;
    border: 1px solid #9FA3A5;
    color: #FFF;
    background: #D1D3D4;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #FFF;
}
        
ul.tabs li a:hover
{
    border: 1px solid #031A43;
    background: #031A43;
	color: #FFFFFF;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
	color: #FFFFFF;
    background: #041B44;
    border: 1px solid #041B44;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
	color: #FFFFFF;
}
     

div.tabcontents
{
    border: 1px solid #818486;
	padding: 30px;
	margin-top: 8px;
    background-color: #BEC0C1;
}