#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: none;
  line-height: 1;
  margin: 0;
  margin-left: 0px;
  padding: 0;
}
#cssmenu {
  height: 38px;
  display: block;
  border: 1px solid;
  width: auto;
  border-color: #041B44;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > li {
  list-style: inside none;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu.align-center > ul {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
  margin-left: 0px;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  border-right: 0px solid #041B44;
  color: #041B44;
  background: #E5E6E7;
  padding: 10px 40px;
}
#cssmenu > ul > li:first-child > a {
  color: #041B44;
}
#cssmenu > ul > li > a:after {
  content: "";
  position: absolute;
}
#cssmenu ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#cssmenu > ul > li.has-sub > a:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 0px;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 20px;
}
#cssmenu > ul > li.has-sub:hover > a {
  padding-bottom: 14px;
  z-index: 999;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
  display: block;
}
#cssmenu > ul > li.has-sub > a:hover,
#cssmenu > ul > li.has-sub:hover > a {
  background: #041B44;
  /*border-color: #;*/
  ƒcolor: #ffffff;
  height: 38px;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #031A43;
  color: #FFFFFF;
}
#cssmenu ul li > ul,
#cssmenu ul li > div {
  display: none;
  width: auto;
  position: absolute;
  top: 38px;
  background: #D1D3D4;
  border: 1px solid;
  border-color: #041B44;
  z-index: 999;
  padding: 0px 0;
}
#cssmenu ul li > ul {
  width: 200px;
}
#cssmenu ul ul ul {
  position: absolute;
}
#cssmenu ul ul li:hover > ul {
  left: 100%;
  top: -1px;
  border-radius: 0px;
}
#cssmenu ul li > ul li {
  display: block;
  list-style: inside none;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  color: #041B44;
  background: #E5E6E7;
  text-decoration: none;
  margin: 0px;
  padding: 10px 10px;
}
#cssmenu,
#cssmenu ul ul > li:hover > a {
  background: #E5E6E7;
}
#cssmenu ul ul li a:hover {
  background: #041B44;
  color: #fff;
}
#cssmenu > ul > li > a:hover {
  background: #041B44;
  color: #ffffff;
  height: 18px;
}
#cssmenu ul ul a:hover {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a:hover:before {
  border-top: 0px solid #ffffff;
  color: #fff;
}