/*@import url("reset.css");*/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #e5e6e7 !important;
}

p {
    padding: 0px;
}

img {
    border-width: 0px;
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

#wrapper {
    margin: 0 auto;
    width: 1002px;
    background-color: #e5e6e7;
}

#header {
    float: left;
    height: 114px;
    width: 1002px;
}

#navigation {
    float: left;
    height: 40px;
    width: 1002px;
    border: solid 0px #031a43;
}

#space {
    float: left;
    height: 20px;
    width: 1002px;
    border: none;
}

#slide {
    float: left;
    height: 350px;
    width: 1002px;
}

#content {
    float: left;
    width: 1002px;
    border-top: 3px solid #CCCCCC;
    padding-top: 16px;
}

#footer {
    height: 45px;
    width: 1002px;
    clear: both;
}

#logo {
    float: left;
    width: 450px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 10px;
    padding: 0px;
}

#endereco {
    float: left;
    width: 250px;
    margin-left: 260px;
    margin-right: 0px;
    margin-top: 25px;
    padding: 0px;
}

#foto {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}

#foto1 {
    float: left;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
}

#foto2 {
    float: left;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
}

#foto3 {
    float: left;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
}

#bloco1 {
    float: left;
    width: 300px;
    margin-top: 0px;
    margin-left: 10px;
}

#bloco2 {
    float: left;
    width: 300px;
    margin-top: 0px;
    margin-left: 40px;
}

#bloco3 {
    float: left;
    width: 300px;
    margin-top: 0px;
    margin-left: 40px;
}

#odonto-bloco1 {
    float: left;
    width: 30%;
    margin-top: 0px;
    margin-left: 10px;
}

#odonto-bloco2 {
    float: left;
    width: 30%;
    margin-top: 0px;
    margin-left: 10px;
}

#odonto-bloco3 {
    float: left;
    width: 30%;
    margin-top: 0px;
    margin-left: 10px;
}

#bx-conteudo {
    float: left;
    width: 100%;
    margin-top: 0px;
    /*margin-left: 120px;*/
    /*margin-right: 120px;*/
}

#blc-fale1 {
    float: left;
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 0px;
}

#blc-fale2 {
    float: left;
    width: 300px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 0px;
}

#texto-inicio {
    float: left;
    width: 290px;
    margin-top: 5px;
    margin-left: 8px;
}

#mais {
    float: left;
    margin-top: 0px;
    margin-left: 240px;
}

#beneficios {
    float: left;
    width: 620px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 01;
    position: absolute;
}

#telefone {
    float: left;
    margin-top: 348px;
    margin-left: 745px;
    z-index: 01;
    position: absolute;
}

#label {
    float: left;
    height: 20px;
    width: 15px;
}

#rodape1 {
    float: left;
    width: 1002px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}

#rodape2 {
    float: left;
    width: 1002px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    padding: 0px;
}

#h1 {
    color: #031a43;
    font-size: 12px;
    font-family: Trebuchet ms, Lucida Sans, Arial, Verdana;
    line-height: 17px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h1-1 {
    color: #031a43;
    font-weight: bold;
    font-size: 14px;
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    line-height: 17px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h1-2 {
    color: #031a43;
    font-weight: bold;
    font-size: 24px;
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h1-3 {
    color: #031a43;
    font-size: 14px;
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h1-4 {
    color: #031a43;
    font-weight: bold;
    font-size: 18px;
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h2 {
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h2 a {
    font-size: 13px;
    color: #000000;
    text-decoration: none;
}

#h2 a:hover {
    font-size: 13px;
    color: #031a43;
}

#h3 {
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    font-weight: bold;
    color: #031a43;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h3 a {
    font-size: 13px;
    color: #031a43;
    text-decoration: none;
}

#h3 a:hover {
    font-size: 13px;
    color: #000000;
}

#h4 {
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    font-weight: 300;
    color: #031a43;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h4 a {
    font-size: 15px;
    color: #031a43;
    text-decoration: none;
}

#h4 a:hover {
    font-size: 15px;
    color: #031a43;
}

#h5 {
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    font-weight: 300;
    color: #031a43;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h5 a {
    font-size: 15px;
    color: #031a43;
    text-decoration: none;
}

#h5 a:hover {
    font-size: 15px;
    color: #031a43;
}

#h6 {
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    font-weight: 300;
    color: #041b44;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h6 a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

#h6 a:hover {
    font-size: 15px;
    color: #fff;
}

#h7 {
    font-family: Trebuchet ms, Lucida Sans, Arial, Verdana;
    color: #031a43;
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h7 a {
    font-size: 10px;
    color: #031a43;
    text-decoration: none;
}

#h7 a:hover {
    font-size: 10px;
    color: #000000;
}

#h8 {
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    color: #041b44;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h8 a {
    font-size: 14px;
    color: #041b44;
    text-decoration: none;
}

#h8 a:hover {
    font-size: 14px;
    color: #031a43;
}

#h9 {
    font-family: "Times New Roman", Arial, Trebuchet ms, Verdana, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#h9 a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

#h9 a:hover {
    font-size: 15px;
    color: #031a43;
}

/*---- TAB ----- */

/* Tab Content - menucool.com */

ul.tabs {
    padding: 7px 0;
    cursor: pointer;
    color: #fff;
    margin: 0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}

ul.tabs li {
    display: inline;
    margin: 0;
    color: #fff;
    margin-right: 4px; /*distance between tabs*/
}

ul.tabs li a {
    text-decoration: none;
    padding: 8px 78px;
    border: 1px solid #9fa3a5;
    color: #fff;
    background: #d1d3d4;
    outline: none;
}

ul.tabs li a:visited {
    color: #fff;
}

ul.tabs li a:hover {
    border: 1px solid #031a43;
    background: #031a43;
    color: #ffffff;
}

ul.tabs li.selected a,
ul.tabs li.selected a:hover {
    position: relative;
    top: 0px;
    color: #ffffff;
    background: #041b44;
    border: 1px solid #041b44;
}

ul.tabs li.selected a:hover {
    text-decoration: none;
    color: #ffffff;
}

div.tabcontents {
    border: 1px solid #818486;
    padding: 30px;
    margin-top: 8px;
    background-color: #bec0c1;
}

.btn {
    font-family: inherit;
    background: none;
    margin: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    transition: all 0.3s;
}

.section {
    padding: 60px 0;
}

.section-header .section-title {
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
}

.section-header .section-subtitle {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
}

.highlight-blue-dark {
    background: radial-gradient(circle, #184B8F 0, #173256 800px)
}

.row .center {
    text-align: center;
}

.highlight-gray {
    /*background-color: #F8F8F8;*/
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE
}
.highlight-bord-top {
    /*background-color: #F8F8F8;*/
    border-top: 3px solid #EEE;
    border-bottom: 1px solid #EEE
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box label {
    display: block;
}

/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
#valor {padding-right:2px;font-size:50px;font-weight:400;color:#4CAF50}

#valor-menor{padding:7px 0 0 2px}

#centavos{color:#4CAF50}

#mensais{margin-top:-8px;font-size:14px}