/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body {
	margin: 0px;
	padding: 0px;
	background: #ffffff;
}
a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
}
ul {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	list-style-position: outside;
	color: #CCCCCC;
	padding-left: 7px;
	letter-spacing: 1px;
}
li {
	margin: 0px;
	padding: 0px;
	background:url(img/marker.gif) no-repeat 0px 6px;
	line-height:17px;
	padding-left:16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #CCCCCC;
	padding: 0px;
	margin: 0px;
}
p {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #CCCCCC;
	padding: 0px;
	margin: 0px;
	letter-spacing: 1px;
}
/*
================================================================================
|                                    HEADER                                    |
================================================================================
*/
#ESWpageTitle, #ESWpageTagline {
	z-index: 100;
}
#ESWpageTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #2f6c86;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 56px;
	top: 19px;
}
#ESWpageTagline {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #b50810;
	text-align: left;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 211px;
	top: 48px;
}
/*
================================================================================
|                                     MENU                                     |
================================================================================
*/
#ESWuserMenuPosition {
	position: absolute;
	left: 543px;
	top: 79px;
	z-index: 100;
}
#ESWuserMenu {
	position: static;
	width: 200px;
}
div.ESWuserButton0 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #2f6c86;
	margin: 0px;
	background: url(img/button0_clr2.gif) no-repeat 0px 3px;
	padding-left: 24px;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor:pointer;
}
div.ESWuserButton0:hover {
	color: #b50843;	
}
div.ESWuserButton1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #2f6c86;
	margin: 0px;
	padding-left: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	cursor:pointer;
}
div.ESWuserButton1:hover {
	background: url(img/button1_clr2.gif) no-repeat 8px 3px;
}
/*
================================================================================
|                                    CONTENT                                   |
================================================================================
*/
.ESWpageContent {
	padding: 0px;
	position: absolute;
	width: 382px;
	left: 79px;
	top: 82px;
}
.ESWpageContent1 {
	padding: 0px;
	position: absolute;
	width: 372px;
	left: 485px;
	top: 299px;
}
.ESWpageContent2 {
	position: absolute;
	width: 339px;
	left: 83px;
	top: 413px;
}
.ESWpageContent3 {
	padding: 0px;
	position: absolute;
	width: 600px;
	left: 202px;
	top: 429px;
}
.ESWpageContent4 {
	padding: 0px;
	position: absolute;
	width: 600px;
	left: 200px;
	top: 523px;
}
.ESWpageContent5 {
	padding: 0px;
	position: absolute;
	width: 600px;
	left: 199px;
	top: 632px;
}
.class1{
	margin-left:112px;
}	
.class2{
	margin-top:14px;
	margin-bottom:14px;
}
.class3{
	margin-left:145px
}
.class4{
	margin-bottom: 15px;
	color: #888888;
}
.class5{
	width:295px;
}
.class6{
	width:348px;
}
.font{
	font:bold 16px Verdana, Arial, Helvetica, sans-serif;
}
/*
================================================================================
|                                    DESIGN                                    |
================================================================================
*/
#substrate1{
	position: absolute;
	height: 271px;
	width: 429px;
	left: 40px;
	top: 74px;
}
#substrate1_top{
	height: 12px;
	background:url(img/substrate1_top_clr2.png) no-repeat;
	font-size: 1px;
}
#substrate1_stratch{
	height: 100%;
	background:url(img/substrate1_stratch_clr2.png) repeat-y;
}
#substrate1_bottom{
	height: 10px;
	background:url(img/substrate1_bottom_clr2.png) no-repeat;
}
#substrate2{
	position: absolute;
	height: 244px;
	width: 415px;
	left: 444px;
	top: 291px;
}
#substrate2_top{
	height: 12px;
	background:url(img/substrate2_top_clr2.png) no-repeat;
	font-size: 1px;
}
#substrate2_stratch{
	height: 100%;
	background:url(img/substrate2_stratch_clr2.png) repeat-y;
}
#substrate2_bottom{
	height: 12px;
	background:url(img/substrate2_bottom_clr2.png) no-repeat;
}
#image1{
	position: absolute;
	height: 92px;
	width: 114px;
	left: 69px;
	top: 104px;
	background: url(img/image1_clr2.png);
}
#image2{
	position: absolute;
	height: 216px;
	width: 166px;
	left: 343px;
	top: 221px;
	background: url(img/image2_clr2.png);
}
#image3{
	position: absolute;
	height: 112px;
	width: 78px;
	left: 533px;
	top: 312px;
	background: url(img/image3_clr2.png);
}
#line{
	position: absolute;
	height: 1px;
	width: 203px;
	left: 82px;
	top: 469px;
	background: url(img/line.gif) repeat-x;
}
#line1{
	position: absolute;
	height: 1px;
	width: 205px;
	left: 82px;
	top: 520px;
	background: url(img/line.gif) repeat-x;
}
